<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="dark" class="fw700">
          Login
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form" >
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" style="color: black;">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input autocorrect="off" color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="danger">
          Campo requerido *
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" style="color: black;">
          <ion-icon name="lock" item-start></ion-icon>
          Contraseña
        </ion-label>
        <ion-input autocorrect="off" color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="danger">
          Campo requerido *
        </ion-text>
        </p>
    </form>
    <br><br>
    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="secondary" (click)="login()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Iniciar sesión
      </ion-button>

    </div>

    <!-- Other links -->
    <div text-center margin-top class="ion-padding-top">
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="dark">
          <small>No tienes una cuenta?</small> <br><br>
          <strong>Regístrate</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>