<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/img/profile-bzz.jpg">
      <h1 class="fw500">{{item.names}}</h1>
      <h2 color="light" margin-bottom>Usuario</h2>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon> 
        Editar / Agregar
      </ion-button>
    </ion-card-content>
    <!-- Register form -->
    <form [formGroup]="onEditForm" class="list-form">
      <ion-grid fixed no-padding>
        <ion-row>
          <ion-col size="12" padding>
            <ion-list margin-bottom>
                <ion-list-header color="light">
                  <ion-label class="fw700">Formulario</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label color="dark" position="stacked">Nombre completo:</ion-label>
                  <ion-input inputmode="text" placeholder="Ejm: Pepito perez" value="{{item.names}}" formControlName="full_name"></ion-input>
                </ion-item>
        
                <ion-item>
                  <ion-label color="dark" position="stacked">Email:</ion-label>
                  <ion-input inputmode="email" placeholder="Ejm: pepito@mail.com" value="{{item.email}}" formControlName="email" disabled readonly></ion-input>
                </ion-item>
        
                <ion-item>
                  <ion-label color="dark" position="stacked">Direccion:</ion-label>
                  <ion-input inputmode="text" placeholder="Ejm: Av. cra 14 # 37-15" value="{{item.address}}" formControlName="address"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="dark" position="stacked">Pais:</ion-label>
                  <ion-input inputmode="text" placeholder="Ejm: Colombia" value="{{item.country}}" formControlName="country"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="dark" position="stacked">Ciudad:</ion-label>
                  <ion-input inputmode="text" placeholder="Ejm: Bogotá" value="{{item.city}}" formControlName="city"></ion-input>
                </ion-item>
        
                <!-- <ion-item>
                  <ion-label color="dark">City</ion-label>
                  <ion-select>
                    <ion-select-option value="nes">New York</ion-select-option>
                    <ion-select-option value="n64">Los Angeles</ion-select-option>
                    <ion-select-option value="ps">London</ion-select-option>
                    <ion-select-option value="genesis">Paris</ion-select-option>
                    <ion-select-option value="saturn">São Paulo</ion-select-option>
                    <ion-select-option value="snes">Tokyo</ion-select-option>
                    <ion-select-option value="snes">New Delhi</ion-select-option>
                  </ion-select>
                </ion-item>
        
                <ion-item>
                  <ion-label color="dark">State</ion-label>
                  <ion-select>
                    <ion-select-option value="nes">NY</ion-select-option>
                    <ion-select-option value="n64">CA</ion-select-option>
                    <ion-select-option value="ps">Greater London</ion-select-option>
                    <ion-select-option value="genesis">Paris</ion-select-option>
                    <ion-select-option value="saturn">SP</ion-select-option>
                    <ion-select-option value="snes">Kantō</ion-select-option>
                    <ion-select-option value="snes">Delhi</ion-select-option>
                  </ion-select>
                </ion-item> -->

              </ion-list>

            <!-- <ion-list>
              <ion-radio-group>
                <ion-list-header color="light">
                  <ion-label class="fw700">User Type</ion-label>
                </ion-list-header>
            
                <ion-item>
                  <ion-label color="primary">Customer</ion-label>
                  <ion-radio slot="start" value="customer" checked></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label color="primary">Owner</ion-label>
                  <ion-radio slot="start" value="agent"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <ion-item>
                <ion-label class="text-1x">Checkbox test</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list> -->
    
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button size="large" expand="full" color="dark" (click)="save_data()" [disabled]="!onEditForm.valid" no-margin>Guardar</ion-button>
    </form>

  </ion-card>
  
  <div padding>
    <ion-text color="dark" no-margin>
      Al diligenciar los datos de este formulario y seleccionar la opción 
      “Guardar” o al firmarlo en medio físico, usted autoriza y manifiesta que ha sido informado 
      para  el tratamiento de los datos Personales, así como las condiciones de seguridad 
      y confidencialidad de dicha información.
    </ion-text>
  </div>
</ion-content>
